vk:
  appId: ${VK_APP_ID:123456}
  token: ${VK_TOKEN:test}
telegram:
  default-bot-options:
    name: ${TELEGRAM_BOT_NAME:test}
    token: ${TELEGRAM_BOT_TOKEN:test}
    proxyHost: ${TELEGRAM_BOT_PROXY_HOST:localhost}
    proxyPort: ${TELEGRAM_BOT_PROXY_PORT:8080}
    proxyType: ${TELEGRAM_BOT_PROXY_TYPE:SOCKS5}
    proxyUser: ${TELEGRAM_BOT_PROXY_USER:test}
    proxyPassword: ${TELEGRAM_BOT_PROXY_PASSWORD:test}

